<!DOCTYPE html>

<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Kevin Saluste. veebiprogrammeerimine</title>
</head>
<body>
	<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
	<h1>Kevin Saluste. veebiprogrammeerimine</h1>
	<p>Veebileht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>...</p>
	<p style="color: red;">See on veel üks tekstilõik ja see on punane...</p>
	<hr>
    <ul>
        <li><a href="/">Avaleht</a></li>
        <li><a href="/Eestifilm">Eesti filmi avaleht</a></li>
    </ul>
	<hr>
	<h2>Eesti filmiinimesed</h2>
    <ul>
	<% personList.forEach(function(listItem){ %>
		<li><%= listItem.first_name %> <%= listItem.last_name %> <% listItem.born %></li>
	<% }); %>
  </ul>
</body>
</html>