<!DOCTYPE html>

<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Kevin Saluste. veebiprogrammeerimine</title>
</head>
<body>
	<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
	<h1>Kevin Saluste. veebiprogrammeerimine</h1>
	<p>Veebileht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>...</p>
	<p style="color: red;">See on veel üks tekstilõik ja see on punane...</p>
	<hr>
    <ul>
        <li><a href="/">Avaleht</a></li>
        <li><a href="/Eestifilm">Eesti filmi avaleht</a></li>
    </ul>
	<hr>
	<h2>Eesti filmiinimeste andmete lisamine andmebaasi</h2>
    <form method="POST">
        <label for="firstNameInput"> Filmiinimese eesnimi</label>
        <input id="firstNameInput" name="firstNameInput" type="text" placeholder="Eesnimi..." required>
        <br>
        <label for="lastNameInput"> Filmiinimese perekonnanimi</label>
        <input id="lastNameInput" name="lastNameInput" type="text" placeholder="Perekonnanimi..." required>
        <br>
        <label for="bornInput"> Filmiinimese sünniaasta</label>
        <input id="bornInput" name="bornInput" type="date" required>
        <br>
        <label for="deceasedInput"> Filmiinimese sünniaasta</label>
        <input id="deceasedInput" name="deceasedInput" type="date">
        <br>
        <input id="personAddSubmit" name="personAddSubmit" type="submit" value="Salvesta">
    </form>
    <p>Staatus: <%= notice %></p>
</body>
</html>