<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Kevin Saluste, veebiprogrammeerimine</title>
  <link rel="stylesheet" href="/style/gallery.css">
  <script src="/script/gallery.js" defer ></script>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1>Kevin Saluste, veebiprogrammeerimine</h1>
  <p>See leht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning ei sislda tõsiseltvõetavat sisu!</p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <!-- Dialoogiaken normaalsuuruses fotode näitamiseks -->
  <dialog id="modal" class="modalarea">
    <span id="modalClose" class="modalclose">&times;</span>
	<div class="modalhorizontal">
	  <div class="modalvertical">
	    <p id="modalCaption"></p>
		<img id="modalImage" src="/images/empty.png" alt="galeriipilt">
	  </div>
    </div>
  </dialog>
  <h2>Fotogalerii</h2>
  <div id="gallery" class="gallery">
    <% galleryData.forEach(function(image){ %>
      <img src="<%=imagehref%><%=image.src%>" alt="<%=image.alt%>" class="thumbs" data-filename="<%=image.src%>">
    <% }); %>
  </div>
</body>
</html>