<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Kevin Saluste, veebiprogrammeerimine</title>
  </head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1>Kevin Saluste, veebiprogrammeerimine</h1>
  <p>See leht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning ei sislda tõsiseltvõetavat sisu!</p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2><%= heading %></h2>
  <ul>
    <!--   % märkidega on ejs kood muutujate näitamiseks -->
	<% listData.forEach(function(listItem){ %>
		<li><%= listItem %></li>
	<% }); %>
  </ul>
</body>
</html>