<!DOCTYPE html> 
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>kevin</title>
</head>
<body>
  <h1>kevin</h1>
  <p> See leht on loodud veebiprogrammeerimise kursuse raames ning ei sisalda tosiseltvoetavat sisu</p>
  <hr>
  </body>
</html>