<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Kevin Saluste, veebiprogrammeerimine</title>
  </head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1>Kevin Saluste, veebiprogrammeerimine</h1>
  <p>See leht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning ei sislda tõsiseltvõetavat sisu!</p>
  <hr>
  <ul>
	<li><a href="/timenow">Ajainfo</a></li>
	<li><a href="/vanasonad">Vanasõnad</a></li>
	<li><a href="/regvisit">Pane oma külastus kirja</a></li>
  <li><a href="/kulastajad">Selle lehe külastajad</a></li>
  <li><a href="/Eestifilm">Eesti filmid</a></li>
  <li><a href="/photoupload">Galeriisse fotode üleslaadimine</a></li>
  <li><a href="/gallery">fotogalerii</a></li>
  </ul>
    <h2>Uusim avalik foto</h2>
    <img src="<%= imgFile %>" alt="<%= imgAlt %>">
</body>
</html>