<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Kevin Saluste, veevbiprogrammeerimine</title>
  </head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1>Kevin Saluste, veebiprogrammeerimine</h1>
  <p>See leht on loodud veebiprogrammeerimise kursusel <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ning ei sislda tõsiseltvõetavat sisu!</p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Pane end külastajana kirja</h2>
  <form method="POST">
    <label for="nameInput">Eesnimi</label>
    
    <input id="nameInput" type="text" name="nameInput" placeholder="Kirjuta siia oma eesnimi..." required>
    <br>
    <label for="nameInput2">Perenimi</label>
    <input id="nameInput2" type="text" name="nameInput2" placeholder="Kirjuta siia oma perenimi..." required>
	<input id="regSubmit" type="submit" name="regSubmit" value="Salvesta">
  </form>
</body>
</html>